*{
  margin: 0;
  padding:0;
}

body {
  padding: 0;
  margin: 0;
  background: #f5f5f5;
}

.title{
  font-weight: bold;
}

.message_alert{
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

#content{
  padding: 30px;
}

#content .button{
    margin: 10px;
}

#detalhes, #detalhes0{
  display: none;
}

.input{
  margin: 5px;
  border-radius: 5px;
  width: 70%;
  height: 50px;
  border: #ccc ;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

input:focus {
  outline-color: orange;
}

.button{
  background-color: orange;
  color:white;
  border-radius: 5px;
  border: #ccc;
  font-size: 15px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.button:hover{
  background-color: rgba(255, 166, 0, 0.373);
}

.button:active{
  background-color: orange;
}

@media (min-width: 800px){
  .title{
    font-size: 25px;
  }

  .message_alert{
    font-size: 20px;
  }

  .form{
    padding: 10px;
  }
}
@media (max-width: 800px){
  .form{
    padding-bottom: 10px;
  }
}