#frente, #verso{
    margin:auto;
    border: 10px solid orange;
    height: 480px;
    width: 854px;
    background-image: url('../../public/img/certificado_atena.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 854px 480px;
    background-color: white;
}
/* #frente, #verso{
    width: 70%;
    margin:auto;
    text-align: center;
    background-color: white;
} */

#assinatura-cursinho{
    width: 200px;
    height: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

#ibb, #unesp{
    width: 100px;
    height: 50px;
}

#assinatura-docente img{
    height: 80px;
    width: 170px;
    margin-left: 50px;
    border-bottom: 2px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#assinatura-discente img{
    height: 80px;
    width: 170px;
    margin-left: 50px;
    border-bottom: 2px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}